@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rye&display=swap');

.firstSection{
    display: flex;
    background: #220901 ;
    color: rgb(227, 216, 203);
}

.description{
    padding-right: 20px; 
}

h1{
    font-family: 'Rye', cursive;
    font-size: 70px;
}

p{
    padding: 50px;
}

.illustration{
    padding: 50px;
}