@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rye&display=swap');
@import url('https://fonts.googleapis.com/css2?family=My+Soul&display=swap');

.generalPres{
  display: flex;
  flex-direction: column;
}

.firstSection{
    display: flex;
    background: #220901 ;
    color: rgb(227, 216, 203);
    width: 100%;
    height: 750px;
    padding-top: 50px;
}

.description{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2em;;
  width: 100%; 
  text-align: center;
  color: rgb(227, 216, 203);
  z-index: 50;
}

.title{
  font-family: 'Rye', cursive;
  font-size: 6rem;;
  text-shadow: 7px 6px 20px #F66A42;
  color: rgb(227, 216, 203);
}

.desc{
    
    padding-left:100px ;
    padding-right: 100px;
    font-family: 'Cormorant SC', serif;
    font-size: 1.5rem;;
    text-align: left;
    line-height: 1.5em;
    color: rgb(227, 216, 203);
    font-weight: bolder;
    width: 48ch;
}
.bullet {
    display: flex;
    margin-right: 4em;
    align-self: center;
    height: 200px;
    width: 200px;
    padding-top: 40px;
}

.illustration{
  width: 100%;

}

.farwest{
    width: 100%;
}

.lastSection{
    display: flex;
    background: black;
    color: rgb(227, 216, 203);
    box-shadow: 2px -54px 100px 139px #000;
    height: 900px;
}


.explication{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.explparag{
    padding-left: 30px;
    padding-right: 80px;
    text-align: right;
    font-family: 'Cormorant SC', serif;
    line-height: 1.5em;
    color: rgb(227, 216, 203);
    font-size: 1.5rem;
    font-weight: bolder;
    max-width: 48ch;
}

.button {
    display: flex;
    padding-top: 100px;
  }
  
  .box {
    width: 35px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: 700;
    color: #fff;
    transition: all .8s;
    cursor: pointer;
    position: relative;
    background: #d75a06;;
    overflow: hidden;
    font-family: 'Rye', cursive;
  }
  
  .box:before {
    content: "P";
    position: absolute;
    top: 0;
    background: #621708;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(100%);
    transition: transform .4s;
  }
  
  .box:nth-child(2)::before {
    transform: translateY(-100%);
    content: 'A';
  }
  
  .box:nth-child(3)::before {
    content: 'N';
  }
  
  .box:nth-child(4)::before {
    transform: translateY(-100%);
    content: 'P';
  }
  
  .box:nth-child(5)::before {
    content: 'A';
  }

  .box:nth-child(6)::before {
    transform: translateY(-100%);
    content: 'N';
  }

  .box:nth-child(7)::before {
    content: '!';
  }
  
  .button:hover .box:before {
    transform: translateY(0);
  }