/* //////////////////////////////////////////////
Plus d'informations liées à la solution  : 
//////////////////////////////////////////////

https://www.zonecss.fr/faq/description-d-un-element.html#specifier-la-taille-d-un-element-grace-aux-feuilles-de-style-css

https://www.zonecss.fr/proprietes-css/box-sizing-css.html#WJwJqZ00000.codepen
*/
@import url('https://fonts.googleapis.com/css2?family=Rye&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300&display=swap');

label{
    font-family: 'Cormorant SC', serif;
    font-size: 20px;
    font-weight: bold;
}

label:hover{
    color: rgb(227, 216, 203);
}

input::placeholder, textarea::placeholder {
  color: #000000;
  font-weight: bold;
}

input[type=text], textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  margin-right: 0px;
  margin-left: 0px;
  resize: vertical;
  background: rgba(95, 36, 15, 0.3) ;
  font-family: 'Cormorant SC', serif;
  font-weight: bold;
}

label{margin-right: 0px;
  margin-left: 0px;
  width: 100%;
}

input[type=submit] {
  background-color: rgba(153, 44, 4, 0.75);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: rgba(246,170,28)
}

.containerForm {
  /* Ajouter box-sizing */
  box-sizing : border-box;
  border-radius:5px;
  background-color: rgba(95, 36, 15, 0.3);
  padding:20px;
  width: 40vw;
  /* redéfinition 400 + 2*20 */
  margin:0 auto;
  backdrop-filter: blur(8px);
  box-shadow: -4px -10px 263px 19px rgba(153, 44, 4, 0.75);
  -webkit-box-shadow: -4px -10px 263px 19px rgba(188,57,8,0.75);
  -moz-box-shadow: -4px -10px 263px 19px rgba(188,57,8,0.75);
  height: 60vh;
}

.h1form  {
  color: rgb(227, 216, 203);
  width: 100%;
  font-family: 'Rye', cursive;
  text-shadow: 7px 6px 20px #F66A42;
}

.h1form:hover{
    color: rgb();
    text-shadow: 7px 6px 20px rgb(227, 216, 203),
}