leaflet-popup-content-wrapper {
    min-height: 200px;
    min-width: 140px;
    display: flex;
    align-items: flex-end;
    border-radius: 0;
    }

    .leaflet-popup-content-wrapper{
        background: #953107!important;    
    }

    .wrapper-leaf {
        position: relative;
        top: 100rem;
        left: 10rem;
        right: 10rem;
        opacity:1;
        width: 50vw;
        padding: 2rem;
        background: rgba(0, 0, 0, 0.233);
        animation: slide-up 1s ease-in-out 250ms;
        animation-fill-mode: forwards;
        /* visibility: hidden; */
      }

    .leaflet-popup-content-wrapper div {
        display: flex;
        flex-direction: column;
        min-height: 200px;
        min-width: 140px;
        padding-left: 2px;
        border-radius: 0;
      }

      .leaflet-popup-content-wrapper, .leaflet-popup-tip{
        background: #333;
        color: #eeeeee;
      }

      .leaflet-popup-content-wrapper img{
        border-radius: 50%;
        /* object-fit:contain; */
        width: 70px;
        height: 70px;
      }